@import "../base.style.scss";

.workspace-header {
  grid-column: 1/-1;

  .top {
    margin: 0 1rem 1rem 1rem;
    .todays-date {
      display: inline-block;
      vertical-align: middle;

      .date {
        font-family: $font-secondary;
        font-weight: 700;
        font-size: 1.4rem;
      }
      .time {
        &::before {
          content: "|";
          margin: 0 0.8rem;
        }
      }
    }
    .breadcrumbs {
      float: right;
      margin: auto;
    }
  }
  .bottom {
    &::after {
      background-color: $color-grey-darker;
      height: 1px;
      margin: 1rem 0 0 0;
      content: "";
      display: block;
    }
    .workspace-title {
      display: inline;
      padding-left: 1.5rem;
      vertical-align: middle;
      .title {
        color: $color-grey-darker;
        display: inline-block;
      }
      .subtitle {
        color: $color-grey-darker;
        display: inline-block;
        &::before {
          content: "-";
          margin: 0 1rem;
        }
      }
    }
    .btn-container {
      float: right;
      .request-mr {
        margin-right: 1rem;
      }
    }
  }
}
