@import "../base.style.scss";

.header {
  display: inline-block;
  background-color: white;
  padding: 1rem 0.8rem;
  z-index: 3;

  position: sticky;
  top: 0;
  left: 0;

  .header-sticky {
    position: sticky;
    top: 0;
  }

  &--static {
    .header-logo {
      display: inline-block;

      img {
        object-fit: cover;
        height: 4rem;
        width: 4rem;
      }
    }

    .header-nav {
      display: inline-flex;
      float: right;
      padding: 0.2rem 1rem;

      .header-btn {
        width: 4rem;
        height: 4rem;
        margin-right: 1.2rem;

        .btn-icon {
          margin: auto;
          font-size: 2.8rem;
          cursor: pointer;
          fill: $color-grey-darker;
        }
      }

      .btn-profile {
        border-radius: 50%;
        width: 3.2rem;
        height: 3.2rem;
        object-fit: cover;
        cursor: pointer;
        margin: 0.4rem;
      }
    }
  }
}
