@import "../base.style.scss";
@import "../../components/Layout/layout.style";
@import "../typography.style.scss";
@import "./FormContainer/form-container.style.scss";

.form {
  grid-column: form-start/form-end;
}

.accordion-header {
  display: block;
  background-color: $color-grey-dark;
  color: $color-grey-darker;
  cursor: pointer;
  margin-bottom: 0.8rem;
  padding-top: 0.8rem;
  padding-right: 0.8rem;
  padding-left: 0.8rem;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  // transition: 0.35s;

  &::after {
    background-color: $color-grey-dark;
    height: 2px;
    margin: 0.8rem 0 0 0;
    content: "";
    display: block;
  }
  .icon {
    float: right;
    color: $color-grey-darker;
    margin-right: 0.4rem;
    margin-top: 0.4rem;
  }

  .notif--inline {
    font-size: 1.4rem;
  }
}

.accordion-container {
  background-color: $color-grey-medium;
  transform: translateY(-0.8rem);
  padding-top: 0.8rem;

  &::after {
    display: block;
    background-color: $color-grey-dark;
    border-radius: 0 0 0.5rem 0.5rem;
    height: 0.8rem;
    content: "";
    border: 0px;
  }
}
